<!-- <div id="app-container" class="container-fluid">
    <div class="row">
        <div id="header-container" class="col-md-12">
            <app-header></app-header>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div id="main-container">
                <app-sidebar></app-sidebar>
            </div>
        </div>

        <div class="col-md-10">
            <main id="body-content" class="mt-2">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div> -->

<div id="app-container" class="container-fluid">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <main id="body-content" class="mt-2">
        <router-outlet></router-outlet>
    </main>
</div>
